@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&family=Rubik:wght@300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(0, 0%, 98%);
  font-family: "Epilogue", sans-serif;
}

.wrapper {
  padding: 2em;
  height: 100vh;
}

/* ---------------------------------------------- */
/* NAVIGATION */
/* ---------------------------------------------- */

nav {
  display: flex;
}

.nav-row {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  height: 35px;
  width: 100%;
}

.nav-row__links {
  display: flex;
}

.nav-link {
  position: relative;
}

.nav-link a {
  color: hsl(0, 0%, 41%);
  text-decoration: none;
  transition: color 0.3s;
}

.nav-link a:hover,
.login-links a:hover {
  color: hsl(0, 0%, 8%);
}

.nav-logo {
  margin-right: 4em;
}

.nav-link:not(:last-child) {
  margin-right: 3em;
  // padding-bottom: 0px;
}

.features-link,
.company-link {
  display: flex;
  list-style-type: none;
}

.dropdown {
  display: flex;
  list-style-type: none;
  background-color: hsl(0, 0%, 100%);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 10px 15px 10px 20px;
}

.dropdown-features {
  position: absolute;
  top: 35px;
  right: 10px;
}

.dropdown-company {
  display: block;
  position: absolute;
  top: 35px;
  min-width: 130px;
}

.features-icons {
  list-style-type: none;
}

.dropdown-row {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
}

.dropdown-links {
  list-style-type: none;
}

.dropdown-links:nth-child(3) {
  padding-top: 0px;
}

.dropdown-link,
.icon {
  padding: 10px;
}

.dropdown-link a:hover {
  color: hsl(0, 0%, 41%);
}

.reminders-icon,
.calendar-icon {
  padding-top: 5px;
}

.planning-icon {
  padding-top: 8px;
}

.features-caret,
.company-caret {
  margin-left: 10px;
}

.nav-row__login {
  display: flex;
  list-style-type: none;
}

.nav-row__menu {
  display: flex;
  list-style-type: none;
  column-gap: 15px;
}

.nav-link:hover {
  // padding-bottom: 0px;

  .dropdown-features,
  .dropdown-company {
    display: flex;
  }

  .dropdown-company {
    flex-direction: column;
  }
}

.login-links {
  display: flex;
  list-style-type: none;
}

.login-links a {
  color: hsl(0, 0%, 41%);
  text-decoration: none;
  transition: border-color 0.3s, color 0.3s;
}

.login-links a:hover {
  border-color: hsl(0, 0%, 8%);
  color: hsl(0, 0%, 8%);
}

.register-link {
  color: hsl(0, 0%, 41%);
  margin-left: 3em;
}

.register-link a {
  border: solid 2px hsl(0, 0%, 41%);
  border-radius: 10px;
  padding: 10px 20px;
}

.banner {
  display: flex;
  flex-direction: row;
  max-width: 80%;
  margin: auto;
  padding-bottom: 8%;
}

.banner__left {
  width: 60%;
  margin-top: 15%;
}

.banner__content {
  display: flex;
  flex-direction: column;
  height: 100%;
  list-style-type: none;
}

.banner__content-item:last-of-type {
  margin-top: auto;
}

.banner__heading {
  font-size: 90px;
  margin-bottom: 60px;
}

span {
  display: block;
}

.banner__description {
  color: hsl(0, 0%, 41%);
  font-size: 20px;
  max-width: 55%;
  line-height: 1.5;
  margin-bottom: 60px;
}

.banner__right {
  margin-top: 10%;
  width: 40%;
}

figure {
  background-image: url("../../images/image-hero-desktop.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 800px;
}

.banner__clients {
  display: flex;
  justify-content: space-between;
  max-width: 65%;
  list-style-type: none;
}

.banner__btn {
  background-color: black;
  color: hsl(0, 0%, 98%);
  padding: 15px 30px;
  border-radius: 12px;
  font-size: 18px;
  letter-spacing: 1px;
  border: 1px solid hsl(0, 0%, 8%);
  transition: color 0.3s, background-color 0.3s;
}

.banner__btn:hover {
  cursor: pointer;
  background-color: hsl(0, 0%, 98%);
  color: hsl(0, 0%, 8%);
}

/* -------- JS behavior ------------------------- */

.hidden {
  display: none;
}

.link-active {
  color: hsl(0, 0%, 8%);
}

.rotate {
  transform: rotate(-180deg);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 905px;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 5;
}

.even-padding {
  padding-bottom: 0px;
}

// .mobile-menu-icon a {
//   height: 25px;
//   width: 30px;
//   display: inline-block;
// }

/* ---------------------------------------------- */
/* QUERIES */
/* ---------------------------------------------- */

@media only screen and (max-width: 1380px) {
  nav {
    margin-bottom: 20px;
  }

  .banner {
    padding-bottom: 10%;
    column-gap: 20px;
  }

  .banner__heading {
    font-size: 70px;
  }

  .banner__description {
    max-width: 65%;
    font-size: 16px;
    margin-bottom: 50px;
  }

  .banner__right {
    margin-top: 10%;
    width: 45%;
  }

  .banner__img {
    height: 600px;
    width: auto;
  }

  .banner__clients {
    max-width: 75%;
  }
}

@media only screen and (max-width: 600px) {
  .wrapper {
    padding: 0px 0px 0px 0px;
  }

  .banner {
    flex-direction: column-reverse;
    max-width: 100%;
    margin: 0px;
  }

  .banner__right,
  .banner__left {
    width: 100%;
    margin: 0px;
  }

  .banner__left {
    padding: 0px 15px;
  }

  .banner__right {
    margin: 70px 0px 40px 0px;
  }

  .banner__content {
    text-align: center;
  }

  span {
    display: inline;
    margin-right: 10px;
  }

  .banner__heading {
    font-size: 35px;
    margin-bottom: 30px;
  }

  .banner__description {
    font-size: 16px;
    max-width: 100%;
    margin-bottom: 30px;
  }

  .banner__btn {
    font-size: 14px;
    padding: 10px 20px;
    margin-bottom: 100px;
  }

  .banner__clients {
    max-width: 100%;
  }

  .client-img img {
    width: 60px;
  }

  .banner__img {
    height: 350px;
    width: 100%;
  }

  figure {
    background-image: url("../../images/image-hero-mobile.png");
  }

  nav {
    // display: none;
    margin-bottom: 0px;
    padding: 0px 0px 0px 15px;
    position: relative;
  }

  .nav-row {
    display: none;
    position: absolute;
    flex-direction: column;
    justify-content: start;
    right: 0px;
    height: 905px;
    padding-top: 0px;
    background-color: hsl(0, 0%, 100%);
    width: 60%;
    z-index: 10;
  }

  .nav-row__menu {
    position: relative;
    padding-top: 35%;
  }

  .nav-logo {
    position: absolute;
    top: 0px;
    padding-top: 15px;
  }

  .nav-row__login {
    justify-content: space-around;
  }

  .nav-row__links {
    justify-content: start;
  }

  .nav-link {
    padding: 12px;
    font-size: 14px;
  }

  .nav-link:focus {
    // padding-bottom: 0px;

    .dropdown-features,
    .dropdown-company {
      display: flex;
    }

    .dropdown-company {
      flex-direction: column;
    }
  }

  .login-links {
    display: flex;
    list-style-type: none;
  }

  .nav-link:not(:last-child) {
    margin-right: 0px;
    // padding: 12px;
  }

  .login-links,
  .nav-row__menu {
    flex-direction: column;
    align-items: start;
    width: 60%;
    background-color: hsl(0, 0%, 100%);
  }

  .login-links {
    align-items: center;
    font-size: 14px;
  }

  .login-link {
    padding: 15px 10px;
  }

  .dropdown-features,
  .dropdown-company {
    position: static;
    box-shadow: none;
    padding-bottom: 0px;
  }

  .planning-icon,
  .reminders-icon,
  .calendar-icon {
    padding-top: 4px;
  }

  .register-link {
    margin-top: 15px;
    margin-left: 0px;
  }

  .register-link a {
    padding: 10px 50px;
  }

  .mobile-menu-icon {
    background-image: url("../../images/icon-menu.svg");
    width: 30px;
    height: 25px;
    background-repeat: no-repeat;
    position: absolute;
    top: 20px;
    right: 10px;
    z-index: 15;
  }

  .mobile-menu-icon a {
    height: 25px;
    width: 30px;
    display: inline-block;
  }
}
